1.txt
Udacity_Cpp_Chapters-master.zip
Udacity_Cpp_Chapters-master/
CppND-Route-Planning-Project/*.swp
CppND-Route-Planning-Project/*.osm
CppND-Route-Planning-Project/!map.osm
CppND-Route-Planning-Project/*.o
CppND-Route-Planning-Project/draw.cpp
CppND-Route-Planning-Project/test.cpp
CppND-Route-Planning-Project/build/
CppND-Route-Planning-Project/bin/
CppND-Route-Planning-Project/lib/
CppND-Route-Planning-Project/P0267_RefImpl/
CppND-Route-Planning-Project.github/**

CppND-System-Monitor-master/monitor
CppND-System-Monitor-master/a.out
CppND-System-Monitor-master/settings.json
CppND-System-Monitor-master/*.o
CppND-System-Monitor-master/build/*
CppND-System-Monitor-master/*.json
CppND-System-Monitor-master/.github/**
